HELP.md
target/
dist/
node_modules/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

.env
../.env
.env.local
.env.*.local
*.pem
*.key
*.jks
*.log
logs/
cash-tran-app/.env
cashtran-frontend/.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Database
db_data/
*.sql.bak

# OS
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

application.properties
application-*.properties
!src/main/resources/application-neon.properties
